{% extends 'posts/post_base.html' %}
{% load bootstrap5 %}

{% block post_content %}
<h4 class="text-center">Create a New Post</h4>
<form id="postForm"
      action="{% if not is_update %}{% url 'posts:create' %}{% else %}{% url 'posts:update' pk=post.pk %}{% endif %}"
      method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if not is_update %}
        {{ image_form.management_form }}
        {% bootstrap_form image_form %}
    {% endif %}
    <button type="submit" class="btn btn-primary btn-large">Post</button>
</form>
{% endblock %}