{% extends 'socialapp/group_base.html' %}
{% load static %}
{% block pregroup %}
<div class="col-md-5">
    <img class="img-thumbnail group-detail-img" src="{{ group.image.url }}">
    <h1 class="mb-3">{{ group.name }}</h1>
    <h2 id="memberCount">Member Count: {{ group.members.count }}</h2>
    <h2 class="mb-3">Posts Count: {{ group.posts.count }}</h2>
<!--    <h3 class="mb-3">Created by</h3>-->

    <div class="content">
        {% csrf_token %}
        {% if user in group.members.all %}

            <button class="btn btn-lg btn-fill btn-warning"
                    id="joinLeave" data-group-slug="{{ group.slug }}"><i class="bi bi-x-circle">Leave</i></button>

        {% else %}

            <button class="btn btn-lg btn-fill btn-warning"
                    id="joinLeave" data-group-slug="{{ group.slug }}"><i class="bi bi-check-circle">Join</i></button>

        {% endif %}
    </div>
</div>

{% endblock %}

{% block group_content %}

<div class="col-md-7">
    {% if group.posts.count == 0 %}
        <h2>No posts in this group yet</h2>
    {% else %}
        {% for post in group.posts.all %}
            {% include 'posts/_post.html' %}
        {% endfor %}
    {% endif %}

</div>


{% endblock %}

